#uploadedImage {
    max-width: 133px;
    max-height: 104px;
}

.cameraIcon {
    height: 50px;
    width: 50px;
    position: absolute;
    top: 33px;
    left: 150px;
    z-index: 1;
}

.camera {
    position: relative;
    color: #aaa;
    font-size: 16px;
    text-align: center;
    
}

.camera input {
    background: #fcfcfc;
    border: 1px solid #aaa;
    border-radius: 5px;
    box-shadow: 0 0 3px #ccc, 0 10px 15px #ebebeb inset;
}

html{
    height:100%;
    width:100%;
}

body{
    background:gray;
    width:95%;
    height:75%;
}

.questions{
    width:100%;
    height:auto;
    text-align:center;
}

#header{
    padding-top: 100px;
    font-family: Lucida Sans Unicode;
    color:white;
    text-align:center;
    float:none;
}

input {
    text-align:center;
    width:49%;
    font-size:50%;
}

a{
    color:white;
}

a:hover{
    opacity:.5;
    
}

.nav{
    position:absolute;
    width:auto;
}

.help{
    text-align:center;
    text-decoration:underline;
    float:none;
    font-size:30%;
    height:auto;
}

.menu{
    width:auto;
    padding:1%;
    display:none;
    font-size:60%;
    text-decoration:none;
    text-align:center;
    border: 1.5px solid white;
    border-radius:5px;
}

.nav:hover .menu {
    display:block;
}

#button{
    color:white;
    border: 2px solid white;
    border-radius: 10px;
    background:gray;
    height: 100px;
    width: 129px;
    position: relative;
    /* z-index: 2; */
    background-image: url("cameraIcon.png");
    background-position: center;
    background-size: cover;
}

#button:hover {
  opacity: .5;
  border:1px solid white;
}

.buttons{
    padding:5%;
    
}
@media only screen and (max-width: 400px) {
@-ms-viewport { width: 320px; }
}

@-ms-viewport{
width: device-width;
}